<div class="flex w-[24%] rounded-2xl shadow-xl">
    <div class="flex-col items-center justify-center py-3 px-3 space-y-2">
        <div class="flex justify-between">
            <p class="text-sm text-[#7B809A]">Account Number : <span class="text-[#555555] text-[13px] font-bold">10129203033</span> </p>
           <span @onclick=CopyAccountNumber>
                <img src="/lib/m-icons/content_copy_flip.svg" alt="Menu" />
           </span> 
        </div>
        <div class="flex">
            <p class="text-sm text-[#7B809A]">Account name : <span class="text-[#555555] text-[13px] font-bold">Oliver Johnson</span> </p>
        </div>
        <div class="flex">
            <p class="text-sm text-[#7B809A]">Bank : <span class="text-[#555555] text-[13px] font-bold">Providus</span> </p>
        </div>
        <div class="flex">
            <span class="font-extralight text-[#7B809A]">To fund your card, kindly make transfer to the account details provided from any bank app or USSD</span>
        </div>
    </div>
</div>

@code {
    public string TextToCopy { get; set; }
    [Parameter] public BankDetail BankDetail { get; set; } = new();

    private async Task CopyAccountNumber()
        {
            await ClipboardService.CopyToClipboard(BankDetail?.AccountNumber!);
        }
}
