<div class="flex flex-col w-[23%] h-[220px] items-center justify-between rounded-2xl shadow-md pb-4">
    <div class="flex flex-col w-auto py-2 items-center">
        <span class="flex bg-[#E63572] justify-center p-[18px] shadow-sm rounded-lg mt-1 mb-3">
            <img src="/lib/m-icons/account_balance.svg" alt="Menu" />
        </span>
        <span class="font-robo">Wallet</span>
        <span class="text-xs text-[#7B809A]">Card Balance</span>
        @* <hr class="h-px border-t-0 bg-red-500 opacity-25" /> *@
    </div>    
    <div>
        <span class="font-bold text-[16px] text-[#344767]">₦ @Balance.ToString("N0") </span>
    </div>
    
   
</div>

@code {
        [Parameter] public decimal Balance{ get; set; }
}
