<header class="flex w-full h-[55px] mb-3 px-4 items-center mt-2">
    <div class="w-[75%]">
        <div class="flex flex-col">
            <span>My Cards</span>
            <span class="text-xs">My Cards</span>
            </div>
       
    </div>
    <div class="flex w-[25%] hidden lg:block items-center space-x-3">
        <input class="border p-2 rounded-md mr-6 w-48 focus:outline-none" type="text" name="name" value="" placeholder="Search..." />
        <span class="opacity-40">
            <img class="h-5" src="/lib/m-icons/settings_black.svg" alt="Menu" />
        </span>
        <span class="opacity-40">
            <img class="h-5" src="/lib/m-icons/person_black.svg" alt="Menu" />
        </span>
    </div>
    
</header>

@code {

}
