<header class="flex w-full h-[55px] mb-3 items-center">
    <div class="w-2/3">
        <span>My Card</span>
    </div>
    <div class="1/3">
        <input class="border" type="text" name="name" value="" placeholder="search" />
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
    </div>
    
</header>

@code {

}
