<header class="flex w-full h-[55px] mb-3 items-center mt-1">
    <div class="w-[75%]">
        <span>My Card</span>
    </div>
    <div class="flex w-[25%] items-center space-x-3">
        <input class="border p-2 rounded-md mr-6 w-auto" type="text" name="name" value="" placeholder="Search..." />
        <span>
            <img class="h-5" src="/lib/m-icons/settings_black.svg" alt="Menu" />
        </span>
        <span>
            <img class="h-5" src="/lib/m-icons/person_black.svg" alt="Menu" />
        </span>
    </div>
    
</header>

@code {

}
