@page "/dashboard"


<HeaderComponent />

@* Central Top Region *@
<div class="flex flex-col lg:flex-row mt-10 space-x-6 items-center">
    @* Left card Row *@
    <div class="flex flex-col w-full lg:w-[68%]">
        @* Top Row *@
        <div class="flex flex-col lg:flex-row justify-between">
            @* Card *@
            <CardComponent CardNumber="@CardNumber" Card="@Card" HideCardNumberEvent="HideCard" NumberHidden=@CardNumberHidden />
            <div class="flex flex-row mt-4 lg:mt-0">
                @* Card Wallet *@
                <CardBalanceComponent Balance="@Card.Balance" />
                @* Bank Details *@
                <BankDetailsComponent BankDetail="BankDetail" />
            </div>
        </div>
        @* Bottom Row *@
        <div class="flex flex-col w-auto rounded-2xl shadow-md py-2 px-3 mt-6">
            <div class="flex justify-between">
                <span>Payment Method</span>
                <button class="flex border-2 py-2 px-3 rounded-lg bg-[#242426] text-white space-x-1 items-center">
                    <span>
                        <img class="h-4" src="/lib/m-icons/add_white.svg" alt="Menu" />
                    </span>
                    <span>ADD NEW CARD</span>
                    </button>
            </div>
            <div class="w-[50%] border-[1px] py-4 px-2 rounded-lg flex justify-between">
                <CardNumberComponent DarkIcon=true NumberHidden="CardNumberHidden" CardNumber="@CardNumber" HideCardNumberEvent="HideCard" ShowImage=true />
            </div>
        </div>
    </div>


    @* Right card Row *@
    <div class="flex flex-col w-[95%] lg:w-[33%] h-auto rounded-2xl shadow-md py-2 px-3">
        <div class="flex justify-between">
            <span class="text-[#344767]">Transaction Disputes</span>
            <button class="border-[1px] font-bold py-1 px-3.5 rounded-lg border-[#E91E63] text-[#E91E63]">View All</button>
        </div>
    </div>
</div>

@* Transaction History *@

<TransactionHistory/>


@code {
    public CardInfo Card { get; set; } = new();
    public BankDetail BankDetail { get; set; } = new();
    public string? CardNumber { get; set; }
    public bool CardNumberHidden { get; set; } = true;
    protected override void OnInitialized()
    {
        Card = new()
            {
                Balance = 2205002,
                CardNumber = "4521 5234 6234 7852",
                CardType = "MasterCard",
                Expires = DateTime.Now.AddYears(1),
                Owner = "Oliver Johnson"
            };
        CardNumber = Card.CardNumber;
        BankDetail = new()
        {
             AccountName = Card.Owner,
             AccountNumber = "10129203033",
             Bank = "Providus"
        };
        HideCard(true);
    }

    private void HandleLogin()
    {
        NavManager.NavigateTo("/dashboard", forceLoad: true);
    }

    private void ActivateCard()
    {
        NavManager.NavigateTo("/dashboard", forceLoad: true);
    }

    private async void HideCard(bool hash)
    {
        var digits = Card?.CardNumber;
        if (string.IsNullOrEmpty(digits)) return;
        if (hash)
        {
            string lastFour = digits.Substring(Math.Max(0, digits.Length - 4));
            CardNumber = $"**** **** **** {lastFour}";
        }
        else
        {
            CardNumber = Card?.CardNumber;
        }
        CardNumberHidden = hash;
    }
}