<!-- Transaction Container -->
<div style="font-family:Montserrat" class="flex mt-24 justify-center min-h-screen border-none">
    <!-- Card Container -->
    <div class="flex relative h-100 w-full justify-center bg-white shadow-xl rounded-2xl border-none">
        <div class="flex absolute -top-7 px-3 items-center justify-between text-white font-bold w-[96%] h-[6rem] rounded-2xl" style="background-color:#FCB713;">
            <span class="font-bold text-lg">Transaction History</span>
            <input class="border p-1 rounded-xl mr-6 w-auto placeholder:font-thin" type="text" name="name" value="" placeholder="Search reference No." />
        </div>
        <!-- Table Container -->
        <div class="flex mt-8 md:px-6 pt-16 pb-5 w-full">
            <div class="w-full mx-4 my-2">
                <table class="w-full">
                    <thead class="">
                        <tr class="flex justify-around border border-gray-100 border-b-0 py-4">
                            <th class="flex font-bold text-sm w-full justify-center">Reference Number</th>
                            <th class="flex font-bold text-sm w-full justify-center">Amount</th>
                            <th class="flex font-bold text-sm w-full justify-center">Type</th>
                            <th class="flex font-bold text-sm w-full justify-center">Status</th>
                            <th class="flex font-bold text-sm w-full justify-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <TransactionRow TransactionReference="TRef323112" Amount="128,000.45" Type="TransactionType.Income" Status="TransactionStatus.Approved" />
                        <TransactionRow TransactionReference="KELECHI" Amount="228,000.45" Type="TransactionType.Outcome" Status="TransactionStatus.Failed" />
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@code {

}
