 <!-- Transaction Container -->
<div class="flex items-center justify-center min-h-screen">
    <!-- Card Container -->
    <div class="flex relative h-100 w-full justify-center bg-white shadow-xl rounded-2xl">
        <div class="flex absolute -top-7 px-3 items-center justify-between text-white font-bold w-[94%] h-[6rem] rounded-2xl" style="background-color:#FCB713;">
            <span class="font-bold text-lg">Transaction History</span>
            <input class="border p-1 rounded-xl mr-6 w-auto placeholder:font-thin" type="text" name="name" value="" placeholder="Search reference No." />
        </div>
        <!-- Table Container -->
        <div class="flex mt-8 md:px-6 pt-16 pb-5 w-full">
            <div class="w-full mx-4 my-2">
                <table class="w-full">
                    <thead class="">
                        <tr class="flex justify-around border py-4">
                            <th class="flex font-bold text-lg w-full justify-center">Reference Number</th>
                            <th class="flex font-bold text-lg w-full justify-center">Amount</th>
                            <th class="flex font-bold text-lg w-full justify-center">Type</th>
                            <th class="flex font-bold text-lg w-full justify-center">Status</th>
                            <th class="flex font-bold text-lg w-full justify-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="flex justify-around py-4 border items-center">
                            <td class="flex font-thin text-lg w-full justify-center">TRef323112</td>
                            <td class="flex font-thin text-lg w-full justify-center">NGN128,000.45</td>
                            <td class="flex font-thin text-lg w-full justify-center items-center space-x-2">
                                <span class="rounded-full p-2 bg-[#D9FFD8] text-[#68E365]">
                                    <img class="h-5" src="/lib/m-icons/download_black.svg" alt="Menu" />
                                </span>
                                <span>Income</span>
                            </td>
                            <td class="flex font-thin text-lg w-full justify-center">
                                <span class="py-2.5 px-4 rounded-3xl bg-[#D9FFD8] text-[#68E365]">
                                    Approved
                                </span>
                            </td>
                            <td class="flex font-thin text-lg w-full justify-center">
                                <button type="button" class="py-3 px-[30px] rounded-[8px] text-white font-bold text-xs" style="background-color:#FCB713;">Actions</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@code {

}
